<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Todo Material</title>
	<link rel="stylesheet" href="bower_components/materialize/dist/css/materialize.css" media="screen,projection">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body ng-app="todoMaterial">
	<div ng-controller="TodoController">
		<h1>Todo list</h1>

		<ul>
			<li ng-repeat="todo in todos">
				{{todo}} <button ng-click="removeTodo(todo)">Done</button>
			</li>
		</ul>
		<br>
		<form ng-submit="addTodo()">
			<label for=""> Add a new task</label>
			<input type="text" ng-model="newTodo">
		</form>
	</div>

	

	<!-- vendor -->
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
  	<script src="bower_components/materialize/dist/js/materialize.min.js"></script>

	<!-- custom -->
	<script src="app/main.js"></script>
	<script src="app/controllers.js"></script>
</body>
</html>